/* css reset */
*,*::before,*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    scroll-behavior: smooth;
}
.App {
    background-image:url("assets/Asakusa.jpg");
    min-height:80vh;
}


.jumbo_text {
    color: white;
}
.pager {
    width:30px;
    text-align:center;
    cursor:pointer;
}
 
 
 
.nav-link {
   font-size:1.1em;
}

.sitename {
    font-size:1.5em;
} 
.logo_tag {
    font-size:5em;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

.lesson_title {
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}

/* extend bootstrap display-n classes*/
.display-5 {
    font-size:2.5em;
    font-weight: 300;
    line-height: 1.3;
 }
 .display-6 {
    font-size:1.5em;
    font-weight: 300;
    line-height: 1.3;
 }
 /* -------------------------------- */
 


.mobile_logo {
    width:100%;
}
.domain {
   font-size:2em;
}
.domain_sm {
    font-size:1.3em;
}
.sub_domain {
    font-size:1.2em;
}
/*
* site_text editor
*/
.block {
    width:100%;
    margin:10px;
    padding:5px;
}
.text_block {
   white-space: pre-wrap;
}


/* generic short input field for all forms */
.fieldInput {
    width: 100%;
}

/* generic short notes field for all forms */
.fieldNotes {
    width: 100%;
    height: 60px;
}
.fieldNotes-lg {
    width: 100%;
    height:120px;
}
.fieldNotes-xlg {
    width: 100%;
    height:400px;
}


.link {
    cursor:pointer;
}
.inlineLink {
    cursor:pointer;
}
.white_link {
    color:#FFF;
}
.cta_link {
    width:fit-content;
    margin-block:1rem;
    padding-block:.25rem;
    padding-inline:.5rem;
    color:black;
    background-color:lightblue;
    border-radius:.5rem;
    cursor:pointer;
}
.cta_link:hover,
a.cta_link:hover {
    color:white;
    background:blue;
    text-decoration:none;
}

.ui_tools {
   min-height:60vh;
}


.lesson_img {
   height:100%;
   width:100%;
   border:solid 1px #CCC;
}

.lesson_card {
    min-width:fit-content;
}
.lesson_worksheet_wrap {
    width:100%;
}
.lesson_worksheet {
    box-shadow: 5px 5px 7px rgba(0, 0, 255, .1);
}
.app_status {
    position:absolute;
    top:300px;
    right:1rem;
    width:fit-content;
    height:50px;
    padding:.5rem;
    background:yellow;
}

.list_row * {
    color:white !important;  /* temp fix for lister List display - we currently only support Cards*/
}

.lesson_loading {
    margin-block:15rem;        /* prevent footer display above fold while waiting for lesson to load */
}